@model Order
<h2>Checkout</h2>
<form asp-action="Index" method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Address" class="form-label"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <button class="btn btn-primary">Submit Order</button>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
